@import url('/css/gameView.css');
@import url('/css/common.css');
@import url('/css/vars.css');

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body canvas.fullPage {
    position: fixed;
    top: 0;
    left: 0;
}

canvas#main {
    z-index: 1;
}

canvas#ui {
    z-index: 2;
}

.viewContainer > div {
    display: none;
}

.viewContainer > div.active {
    display: block;
}